<div class="user-details" >
  <h1> About Me </h1>
  <p> Passionate about transitioning into Data Science and Machine Learning, with a strong foundation in cognitive science and computational neuroscience. I am actively seeking roles that allow me to apply my analytical and programming skills to solve complex problems. Currently enhancing my expertise in Python, machine learning algorithms, and data analysis through advanced coursework and hands-on projects.  </p>
</div>
<div class="user">
  <div class="tech">
    <img src="assets/img/university-of-oxford-badge-logo.png" height="100px" />
    <h2>University of Oxford</h2>
    <p>
      <h4>BA Human Sciences, 2:1</h4>
    </p>
    <p>Advanced Quantitative Methods (SPSS) and Computational Neuroscience.</p>
  </div>
  <div class="tech">
    <img src="assets/img/University_College_London_logo.svg" height="100px" />
    <h2>University College London</h2>   
    <h4>MSc Cognitive & Decision Sciences, Distinction</h4>
    <p>Principles of Cognition, Statistics, Cognitive Science, Computer Programming (Python)</p>
  </div>
  <div class="tech">
    <img src="assets/img/nma.png" height="100px"/>
    <h2>Neuromatch Academy</h2>  
    <h4>Computational Neuroscience</h4>
    <p>Neural Networks, Deep Learning in Python</p>
  </div>
</div>

<div class="user">
  <div class="tech">
    <h2>Code</h2>
    
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg" width="60px"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain-wordmark.svg" width="60px"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg" width="60px"/>
    <p>Main coding languages: Python, HTML, CSS, JavScript, C, C++.</p>
  </div>
  <div class="tech">
    <h2>Data Science</h2>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg" width="60px"/>     
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pandas/pandas-original-wordmark.svg" width="60px"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matplotlib/matplotlib-original.svg" width="60px"/>       
    <p>Additionally, BA & MSc in Advanced Statistics.</p>
  </div>
  <div class="tech">
    <h2>Machine Learning</h2>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/scikitlearn/scikitlearn-original.svg" width="60px"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pytorch/pytorch-original-wordmark.svg" width="60px"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tensorflow/tensorflow-original.svg" width="60px"/>     
    <p>Machine Learning</p>
  </div>
</div>

