<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="assets/img/preview.png">
  <meta property="og:title" content="From People to Python">
  <meta property="og:description" content="People Operations, Behavioural & Data Science Portfolio">

  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-48x48.png" sizes="48x48" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon/img/favicon.svg" />
  <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="google-site-verification" content="zhHtGfRAfzgYmO7g6CmARG3ohLBviJjVitGjE42jxOA" />
</head>
