<div class="socials">
    <a href="https://github.com/Sijana" target="_blank"
      ><img
        src="/assets/img/icons8-github-100.png"
        alt="Github"
        loading="lazy"
        class="socicon"
    /></a>
    <a href="https://www.linkedin.com/in/sijana-mamos/" target="_blank"
      ><img src="/assets/img/LI_copy.png" alt="LinkedIn" class="socicon"
    /></a>
    <!-- <a href="https://substack.com/@sijana" target="_blank"
      ><img src="/assets/img/icons8-medium-small.png" alt="Medium" class="socicon"
    /></a> -->
  </div>