<div class="socials">
    <a href="https://github.com/Sijana" target="_blank"
      ><img
        src="/assets/img/github.png"
        alt="Linkedin"
        loading="lazy"
        class="socicon"
    /></a>
    <a href="https://www.linkedin.com/in/sijana-mamos/" target="_blank"
      ><img src="/assets/img/LI.png" alt="Github" class="socicon"
    /></a>
    <!-- <a href="https://substack.com/@sijana" target="_blank"
      ><img src="/assets/img/substack.webp" alt="Substack" class="socicon"
    /></a> -->
  </div>