<div class="about">
    <div>
        <h1 class="user-details">Summary</h1>
    </div>
    <div>
        <p>As a seasoned Talent Acquisition and People Operations leader, I have a proven track record in developing and implementing
            comprehensive Recruitment, HR, and Learning & Development strategies. With a strong focus on data-driven decision making,
            I have optimized talent attraction, improved workforce onboarding, and enhanced retention rates.</p>
        <p>My expertise includes integrating advanced technologies such as Applicant Tracking Systems, automating processes,
            and leveraging big data analysis for strategic workforce planning.</p>
        <p>Additionally, I have successfully managed large-scale learning and development programs, driving efficient execution
            of upskilling initiatives and promoting diversity and inclusion within organizations. My leadership experience includes
            managing international teams and spearheading regional cross-team leadership initiatives, ensuring cohesive collaboration
            and strategic alignment across global operations.</p>
    </div>
</div>

<div class="about">
    <div>
        <h1 class="user-details">Leadership Initiatives</h1>
    </div>
    <div class="user">
        <div class="tech">
            <div class="interactive-card">
                <div class="card-inner">
                    <h3 class="card-title">Data-Driven Team Management</h3>
                    <p class="card-content">Led a fifteen-member recruitment team across the EMEA region, using historical data to drive recruitment strategies and team performance optimization. This included developing projection tools and ROI trackers for the team to inform target-setting and progress-tracking.</p>
                </div>
            </div>    
        </div>
        <div class="tech">
            <div class="interactive-card">
                <div class="card-inner">
                    <h3 class="card-title">People Function Design</h3>
                    <p class="card-content">I designed and implemented People Functions (HR, TA, L&D) at global professional services
                        companies. This included defining the team structure, role responsibilities, and career progression frameworks
                        and stakeholder management.</p>
                </div>
            </div>    
        </div>
        <div class="tech">
            <div class="interactive-card">
                <div class="card-inner">
                    <h3 class="card-title">Regional Leadership</h3>
                    <p class="card-content">Involved in cross-team leadership working groups across EMEA, including Operations,
                        Talent and DEI.</p>
                </div>
            </div>    
        </div>
    </div>

    <div class="user">
        <div class="tech">
        <div class="interactive-card">
            <div class="card-inner">
                <h3 class="card-title">Big Data Analysis</h3>
                <p class="card-content">Independently conducted a comprehensive analysis of four years of hiring data,
                    examining candidate backgrounds against performance, tenure, and promotion cycles. Presented findings to
                    stakeholders, influencing company-wide strategies.</p>
            </div>
            </div>    
        </div>
        <div class="tech">
        <div class="interactive-card">
            <div class="card-inner">
                <h3 class="card-title">Project Management</h3>
                <p class="card-content">Managed global TA strategies and DEI initiatives using project management and
                    data collection tools, ensuring data-driven decisions on talent pipelines and employee wellbeing.</p>
            </div>
            </div>    
        </div>
        <div class="tech">
        <div class="interactive-card">
            <div class="card-inner">
                <h3 class="card-title">Technology Implementation</h3>
                <p class="card-content">Spearheaded the introduction of ATS, scheduling and psychometric tools, automating candidate
                    assessment and streamlining processes.</p>
            </div>
            </div>    
        </div>
    </div>
</div>

<div class="about">    
    <h1 class="user-details">Talent Management Initiatives</h1>
        <h3 class="dropdown-title">Recruitment Training Programme Development</h3>
        <div class="dropdown-content">
            <p>I developed internal training programme for the TA function for early and mid-careers professionals.
                The key elements included onboarding, candidate management, interview preparation, offer processes,
                and global team integration. </p>
        </div>
        
        <h3 class="dropdown-title">Probation Framework</h3>
        <div class="dropdown-content">
            <p>I created a detailed probation framework that broke down monthly skills progress and KPIs for new hires.
                This allowed for structured feedback, clear goal-setting, and a standardized on-boarding process.</p>
        </div>
        
        <h3 class="dropdown-title">Diversity, Equity & Inclusion Initiatives</h3>
        <div class="dropdown-content">
            <p>In my HR role, I led several DEI initiatives such as:</p>
            <ul>
                <li>Designing and deploying an inclusion survey to gather employee feedback</li>
                <li>Developing unconscious bias training for interviewers</li>
                <li>Implementing a structured program to mitigate interviewer bias during the hiring process</li>
            </ul>
        </div>
        
        <h3 class="dropdown-title">Talent Model & Candidate Journey SLAs</h3>
        <div class="dropdown-content">
            <p>To optimize our talent pipeline, I defined a talent model that outlined key competencies and skills for different roles.
                I also established candidate journey SLAs to ensure timely and transparent communication throughout the hiring process.</p>
        </div>
        
        <h3 class="dropdown-title">Learning & Development Curriculum</h3>
        <div class="dropdown-content">
            <p>For our early careers program, I built a comprehensive L&D curriculum covering technical skills, soft skills,
                workplace best practices, and self/career development. This helped ensure our junior talent was set up for success.</p>
        </div>
        
        <h3 class="dropdown-title">Quarterly Review Process</h3>
        <div class="dropdown-content">
            <p>I introduced a new quarterly review process for our senior team members to provide structured feedback,
                set development goals, and align on career progression.</p>
        </div>
        
</div>