<div>
    <h1 class="user-details"> PeopleOps Tools </h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="mountains" src="/assets/img/Int_scoring_tool.gif" />
    </div>
    <div class="contents">
        <h3> Interview Scoring Tool</h3>
        <ul>
        <li> Excel/Google Sheets, Candidate Assessment </li>
        </ul>
        <p>I created a custom Excel-based interview scoring tool to standardize candidate evaluations across the team.
            This helped ensure a fair and consistent assessment process.</p>
        <a class="project-link" target=”_blank” href="https://docs.google.com/spreadsheets/d/1ax8orKwYBRTQcWMWtU18X7_n9KCWaua4XrpVRF9tc1A/">Request Access</a>
    </div>
</div> 
<div class="user-projects">
    <div class="images-left">
        <img alt="in-progress" src="/assets/img/in-progress.jpeg" />
    </div>
    <div class="contents-right">
        <h3>Pipeline Projection Tools</h3>
        <ul>
        <li> Excel/Google Sheets, Predictive Modelling </li>
        </ul>
        <p>To effectively manage our talent pipeline, I built several Excel-based tools to forecast hiring needs,
            track candidate statuses, and model different scenarios.</p>
        <!-- <a class="project-link" target=”_blank” href="#">Check it out</a> -->
    </div>
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="dashboard" src="/assets/img/dashboard.gif" />
    </div>
    <div class="contents">
        <h3>Employee Data Dashboard</h3>
        <ul>
        <li> Plotly, Dash, Flask, Data Analysis, Machine Learning </li>
        </ul>
        <p>A dashboard to analyse employee data and generate insights about performance and salary, including Machine Learning insights on predictors of performance.</p>
        <a class="project-link" target=”_blank” href="https://github.com/Sijana/ta-dashboard">GitHub Repo</a>
    </div>
</div> 
<!-- <div class="user-projects">
    <div class="images-left">
        <img alt="mountains" src="/assets/img/Landscape_merged.png" />
    </div>
    <div class="contents-right">
        <h3>Project & Curriculum Management Tools</h3>
        <ul>
            <li> Notion, Productivity </li>
        </ul>
        <p>For operational initiatives like onboarding, training, and DEI programs, I used Notion to centralize project planning,
            task management, and documentation.</p>
        <p>I leveraged Notion to organize and maintain our early careers L&D curriculum, making it easy to update content, track
            progress, and share resources with participants.</p>
        <a class="project-link" target=”_blank” href="#">Check it out</a>
    </div>
</div> -->